.heading {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("./headerImg.jpg") no-repeat fixed bottom;
    background-size: cover;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

.heading::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(72, 159, 234, 0.5),rgba(0, 0, 0, 0.8));
    z-index: -1;
}

img {
    width: 350px;
    height: 350px;
    padding: 20px;
    background: radial-gradient(circle, rgba(0,0,0,0.45171572046787467) 30%, rgba(255,255,255,0) 75%);
}  


@media all and (min-width: 480px) and (max-width: 768px) {
    .heading {
        background: url("./headerImg.jpg") no-repeat center bottom;
        background-size: cover;
    }
}

@media all and (max-width: 480px) {
    .heading {
        background: url("./headerImg.jpg") no-repeat center bottom;
        background-size: cover;
    }
}