@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* $primary-color: #353535;
$secondary-color: #489FEA;
$yellow-color: #FFCF4A; */

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
}