@import './variables';

#heading-section {
	margin: 3rem 0;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 13rem;

	.title {
		width: 50%;
		position: relative;
		z-index: 1;
		.main-heading {
			color: $primary-color;
			font-size: 7.6rem;
			margin-bottom: 3rem;
		}
	}

	.illustration {
		justify-self: center;
		position: relative;

		img {
			max-width: 650px;
		}

		.vector-sink {
			position: absolute;
			width: 50rem;
			left: -20rem;
			bottom: 0;
		}
	}

	@media screen and (max-width: 84.75em) {
		flex-direction: column;
		align-items: center;

		.title {
			width: 100%;
			position: relative;
			z-index: 1;
			.main-heading {
				color: $primary-color;
				font-size: 7.6rem;
				margin-bottom: 3rem;
				text-align: center;
			}
		}

		.illustration {
			justify-self: center;
			position: relative;
			margin-bottom: 5rem;

			img {
				right: 0;
				max-width: 65rem;
			}

			.vector-sink {
				position: absolute;
				width: 50rem;
				left: -10rem;
				bottom: -7rem;
			}
		}
	}

	@media all and (max-width: 50em) {
		margin-bottom: 5rem;

		.title {
			.main-heading {
				font-size: 4rem;
			}
		}

		.illustration {
			img {
				max-width: 30rem;
			}

			.vector-sink {
				position: absolute;
				width: 15rem;
				left: -5rem;
				bottom: -15rem;
			}
		}
	}

	@media all and (max-width: 480px) {
		margin-bottom: 3rem;

		.title {
			.main-heading {
				font-size: 2rem;
			}
		}

		.illustration {
			img {
				max-width: 15rem;
			}

			.vector-sink {
				position: absolute;
				width: 8rem;
				left: -3rem;
				bottom: -20rem;
			}
		}
	}
}
