@import './variables';

.heading-section {
	margin: 3rem 0;
	// padding-top: 13rem;
	position: relative;
	width: 100%;
	min-height: 85vh;
	.title {
		max-width: 60%;
		position: relative;
		z-index: 1;
		.main-heading {
			color: $primary-color;
			font-size: 7.6rem;
		}
	}

	.illustration {
		position: absolute;
		right: 0;
		img {
			right: 0;
			max-width: 650px;
		}

		.vector-sink {
			position: absolute;
			width: 50rem;
			right: 35rem;
			bottom: 0;
		}
	}
}
