@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');
@import '../pages/styles/variables';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	@media all and (max-width: 50em) {
	}
}

body {
	font-size: 1.6rem;
	background-color: $background-color;
	font-family: 'Open Sans', sans-serif;

	.app-container {
		max-width: 160rem;
		margin: 0 auto;
	}

	main {
		// max-width: 84rem;
		// margin: 0 auto;
		margin: 0 3rem;
	}
}

.heading {
	color: $primary-color;
	margin-bottom: 5rem;
	font-size: 6rem;
	text-align: center;
}

.heading-light {
	color: $background-color;
	margin-bottom: 5rem;
	font-size: 6rem;
	text-align: center;
}

#contact-us {
	background-color: $primary-color;
	padding: 3rem;
	margin-bottom: 10rem;
	border-radius: 5px;

	p {
		color: $background-color;
		margin-bottom: 1rem;
		font-size: 2rem;
		text-align: center;
	}
	form {
		display: flex;
		flex-direction: column;

		input {
			background-color: transparent;
			border: none;
			border-bottom: 2px solid $background-color;
			padding: 1rem;
			margin-bottom: 2rem;
			display: block;
			font-size: 2.2rem;
			color: #fff;

			font-family: inherit;

			&::placeholder {
				color: $background-color;
			}
		}

		textarea {
			resize: none;
			background-color: transparent;
			border: none;
			border-bottom: 2px solid $background-color;
			padding: 1rem;
			margin-bottom: 2rem;
			display: block;
			font-size: 2.2rem;
			color: #fff;
		}

		button {
			cursor: pointer;
			padding: 1rem;
			font-size: 2.2rem;
			font-family: inherit;
			text-transform: uppercase;
			border: none;
			background-color: $background-color;
			color: $primary-color;

			&:hover {
				background-color: lighten($background-color, 10);
			}
		}
	}
}

@media all and (max-width: 480px) {
	.heading {
		margin-bottom: 3rem;
		font-size: 1.8rem;
		text-align: center;
	}
}
